.icon-bar {
    height: 50px; /* Set a specific width */
    background-color: white;
}
.navigation-bar
{
background-color: #FFFFFF;
opacity: 0.9;
position: absolute;
width:100%
}
.navbar-brand img{
  max-height: 40px;
}
.navbar-nav  li a{
    color: #34737B;
}
